<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="phonegap-plugin-multidex" version="1.0.0">
  <name>Multidex</name>
  <description>Enable multidex in a Apache Cordova/PhoneGap application</description>
  <license>MIT</license>
  <platform name="android">
    <framework src="multidex.gradle" custom="true" type="gradleReference"/>
  </platform>
</plugin>